## Testing Jupyter and Visualizations

* Countries
* Covid Impacts
* Country codes
     * SG.VAW.REAS.ZS, Women who believe a husband is justified in beating his wife (any of five reasons) (%)

In [10]:
import pandas as pd
import matplotlib import animation
import matplotlib.pyplot as plt

In [19]:
# reads in data from the given url and 
url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'

data = pd.read_csv(url)
data = data.dropna(subset=['continent'])
data['date'] = pd.to_datetime(data['date'], format = '%Y-%m-%d')
data = data.rename(columns={'location': 'name', 'iso_code': 'iso_a3'})
data.head()

,iso_a3,continent,name,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,0.03,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,3.89e+07,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,0.03,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,3.89e+07,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,0.03,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,3.89e+07,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,0.03,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,3.89e+07,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,0.03,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,3.89e+07,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51

In [28]:
groups = data.groupby(['name']).sum()
groups

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.45e+07,57898.0,57629.85,561122.0,2546.0,2536.14,3.73e+05,1487.31,1480.41,14414.24,65.40,65.14,397.05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00e+00,0.00e+00,0.00,0.00,0.00e+00,0.00,0.00,0.0,1.82e+05,1.82e+05,0.0,0.0,115096.0,0.47,0.47,0.00,2962.0,15963.35,1.64e+10,22911.66,7830.6,1086.60,562.88,7.59e+05,0.0,251349.21,4037.39,0.0,0.0,15891.07,210.5,27293.43,215.13
Albania,1.45e+07,129694.0,129258.57,279466.0,2347.0,2336.45,5.04e+06,45067.06,44915.76,97110.99,815.50,811.89,412.19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.77e+05,6.29e+07,21864.96,200.66,5.70e+05,197.93,75.73,2781.5,5.10e+06,1.45e+04,2316.0,225288.0,314029.0,177.37,0.50,0.08,109115.0,26619.75,1.21e+09,44045.82,15960.0,5538.96,3630.06,4.96e+06,462.0,127761.90,4233.60,2982.0,21504.0,0.00,1213.8,32999.40,333.90
Algeria,2.27e+07,119805.0,119309.57,701564.0,3160.0,3148.14,5.18e+05,2732.09,2720.79,15998.79,72.04,71.78,408.36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00e+00,0.00e+00,0.00,0.00,0.00e+00,0.00,0.00,0.0,7.50e+04,0.00e+00,0.0,30.0,69070.0,0.17,0.00,0.00,1568.0,28964.18,1.84e+10,7286.16,12222.0,2608.62,1619.94,5.84e+06,210.0,116912.88,2826.60,294.0,12768.0,35171.22,798.0,32289.60,314.16
Andorra,1.84e+06,12805.0,12712.01,27056.0,123.0,122.16,2.39e+07,165728.33,164524.68,350171.47,1591.90,1580.86,374.49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00e+00,2.57e+06,33223.02,0.00,5.06e+04,654.36,9.22,1136.5,1.02e+05,3.20e+04,8185.0,4802.0,16345.0,131.51,41.45,10.60,211545.0,19969.21,3.20e+07,67794.57,0.0,0.00,0.00,0.00e+00,0.0,45181.89,3299.58,12006.0,15649.2,0.00,0.0,34664.22,359.35
Angola,3.60e+06,24518.0,24115.29,90652.0,563.0,559.01,1.10e+05,745.99,733.74,2758.22,17.10,17.01,334.31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00e+00,0.00e+00,0.00,0.00,0.00e+00,0.00,0.00,0.0,7.00e+05,7.00e+05,0.0,0.0,210683.0,2.13,2.13,0.00,6410.0,26754.82,1.30e+10,9460.44,6652.8,952.38,539.35,2.30e+06,0.0,109313.82,1560.24,0.0,0.0,10558.94,0.0,24215.40,230.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,2.76e+07,184595.0,180661.43,255171.0,1925.0,1870.01,9.72e+05,6491.62,6353.28,8973.56,67.72,65.77,424.60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00e+00,0.00e+00,0.00,0.00,0.00e+00,0.00,0.00,0.0,3.75e+05,3.75e+05,0.0,0.0,204518.0,1.31,1.31,0.00,7190.0,34037.11,1.14e+10,14573.71,11658.0,2658.83,1573.83,6.73e+06,0.0,82349.70,2600.94,0.0,0.0,0.00,321.6,28968.12,285.82
Vietnam,4.59e+05,2791.0,2760.58,8723.0,35.0,35.00,4.72e+03,28.67,28.35,89.71,0.36,0.35,327.05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.34e+05,4.15e+07,425.97,3.43,9.89e+05,10.16,0.21,614783.7,1.79e+06,1.79e+06,0.0,80857.0,69991.0,1.83,1.83,0.00,721.0,27224.02,4.41e+10,139581.53,14767.8,3238.95,2137.25,2.80e+06,906.0,111195.64,2718.00,453.0,20792.7,38888.69,1177.8,34156.20,318.91
Yemen,7.05e+05,5858.0,5699.42,187340.0,1132.0,1105.45,2.36e+04,196.44,191.09,6281.11,37.98,37.09,322.99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00e+00,0.00e+00,0.00,0.00,0.00e+00,0.00,0.00,0.0,0.00e+00,0.00e+00,0.0,0.0,0.0,0.00,0.00,0.00,0.0,12381.38,1.12e+10,20065.50,7612.5,1095.75,593.63,5.55e+05,7050.0,185626.12,2006.25,2850.0,10950.0,18578.25,262.5,24795.00,176.25
Zambia,9.80e+06,90942.0,90654.57,155693.0,1236.0,1232.30,5.33e+05,4946.82,4931.19,8468.96,67.22,67.03,346.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.30e+06,1.53e+08,8321.69,70.83,1.33e+06,72.55,26.28,18885.8,1.42e+03,1.42e+03,0.0,106.0,994.0,0.01,0.01,0.00,55.0,18205.83,7.32e+09,9152.01,7044.6,987.04,613.72,1.47e+06,22885.0,93330.60,1568.12,1233.8,9830.6,5547.32,796.0,25428.22,232.43
Zimbabwe,4.95e+06,37859.0,37564.43,174222.0,1553.0,1549.73,3.33e+05,2547.21,2527.38,11721.91,104.48,104.28,353.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.60e+05,6.14e+07,4133.02,30.97,4.53e+05,30.49,21.45,14967.9,5.28e+06,4.72e+06,567896.0,313132.0,281543.0,35.54,31.72,3.83,18943.0,29511.19,5.89e+09,16920.68,7761.6,1117.51,745.27,7.52e+05,8474.4,121907.02,720.72,633.6,12157.2,14569.24,673.2,24350.04,226.12

In [ ]:
filepath2 = "world_dev_ind.csv"
pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)

In [13]:
df2 = pd.read_csv(filepath2)
df2 = df2.rename(columns = {'2016 [YR2016]' : '2016', 
                            '2017 [YR2017]' : '2017',
                            '2018 [YR2018]' : '2018',
                            '2019 [YR2019]' : '2019',
                            '2020 [YR2020]' : '2020'})

df2 = df2.dropna()
df2.tail()

,Country Name,Country Code,Series Name,Series Code,2016,2017,2018,2019,2020
378835,World,WLD,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,..,..,..,..,..
378836,World,WLD,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,..,..,..,..,..
378837,World,WLD,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,..,..,..,..,..
378838,World,WLD,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,52.9,53,53,53,..
378839,World,WLD,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,540000,510000,480000,460000,..

In [18]:
df2['2016'] = pd.to_numeric(df2['2016'], errors='coerce')
df2['2017'] = pd.to_numeric(df2['2017'], errors='coerce')
df2['2018'] = pd.to_numeric(df2['2018'], errors='coerce')
df2['2019'] = pd.to_numeric(df2['2019'], errors='coerce')
df2['2020'] = pd.to_numeric(df2['2020'], errors='coerce')
df2 = df2.dropna(axis=1, how='all')


wivesdf = df2[
            (df2['Series Code'] == 'NY.GDP.MKTP.CD')]
wivesdf

,Country Name,Country Code,Series Name,Series Code,2016,2017,2018,2019,2020
466,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1.80e+10,1.89e+10,1.84e+10,1.93e+10,NaN
1901,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1.19e+10,1.30e+10,1.51e+10,1.53e+10,NaN
3336,Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,1.60e+11,1.70e+11,1.75e+11,1.71e+11,NaN
4771,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,6.52e+08,6.02e+08,6.36e+08,NaN,NaN
6206,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,2.90e+09,3.00e+09,3.22e+09,3.15e+09,NaN
...,...,...,...,...,...,...,...,...,...
372131,Sub-Saharan Africa,SSF,GDP (current US$),NY.GDP.MKTP.CD,1.54e+12,1.64e+12,1.72e+12,1.77e+12,NaN
373566,Sub-Saharan Africa (excluding high income),SSA,GDP (current US$),NY.GDP.MKTP.CD,1.53e+12,1.63e+12,1.71e+12,1.75e+12,NaN
375001,Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP (current US$),NY.GDP.MKTP.CD,1.54e+12,1.64e+12,1.72e+12,1.77e+12,NaN
376436,Upper middle income,UMC,GDP (current US$),NY.GDP.MKTP.CD,2.13e+13,2.36e+13,2.53e+13,2.57e+13,NaN
377871,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,7.64e+13,8.13e+13,8.64e+13,8.77e+13,NaN